<div class="header">
    <div class="button-group">
        <button class="button-item" (click)="onSortChange('recent')">Nuevas Actualizaciones</button>
        <button class="button-item" (click)="onSortChange('popular')">Populares</button>
    </div>

    <div class="user-info" *ngIf="isLoggedIn; else loginButton">
        <span>Welcome, {{ userName }}</span>
        <span>{{ userEmail }}</span>
        <button (click)="onLogout()">Logout</button>
    </div>

    <ng-template #loginButton>
        <div id="google-button"></div>
    </ng-template>
</div>