<div class="gallery">
    <div class="gallery-item" *ngFor="let item of imageItems" (click)="viewDetails(item)">
        <div *ngIf="!item.tieneVideo">
            <img [src]="item.links[0].href" [alt]="item.data[0].title" class="preview">
        </div>
        <div *ngIf="item.tieneVideo" class="video-preview">
            <img [src]="item.links[0].href" [alt]="item.data[0].title" class="preview">
            <div class="video-icon-overlay">
                ▶️
            </div>
        </div>
        <h3>{{ item.data[0].title }}</h3>
    </div>
</div>
