<div class="image-detail">
    <h2>{{ item?.data[0].title }}</h2>
    <p>{{ item?.data[0].description }}</p>

    <div *ngIf="!item.tieneVideo">
            <img [src]="item.links[0].href" [alt]="item.data[0].title">
        </div>
        <div *ngIf="item.tieneVideo">
            <img *ngIf="!item.isVideoPlaying" [src]="item.links[0].href" [alt]="item.data[0].title" (click)="playVideo()" class="preview">
            <video #videoPlayer *ngIf="item.isVideoPlaying" controls>
                <source [src]="item.linkVideo" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    <button (click)="goBack()">Back to Gallery</button>
</div>